$neutral100: #FDFDFD;
$neutral200: #D5D8DC;
$neutral300: #808B96;
$neutral400: #2C3E50;
$neutral500: #17202A;

$attention100: #E8F6F3;
$attention200: #A2D9CE;
$attention300: #16A085;
$attention400: #117A65;
$attention500: #0B5245;

$positive100: #D4EFDF;
$positive200: #7DCEA0;
$positive300: #27AE60;
$positive400: #1E8449;
$positive500: #145A32;

$caution100: #FCF3CF;
$caution200: #F7DC6F;
$caution300: #F1C40F;
$caution400: #B7950B;
$caution500: #9A7D0A;

$destructive100: #F2D7D5;
$destructive200: #D98880;
$destructive300: #C0392B;
$destructive400: #922B21;
$destructive500: #7B241C;

$primary100: #E3E9F1;
$primary200: #90A5C7;
$primary300: #204B8F;
$primary400: #18386B;
$primary500: #102648;
