.library__searchBar {
  width: 60%;
  margin-top: 3rem;
  .searchBar__input {
    width: 100%;
  }
  .seachBar__button {
  }
}

.library__mainArea {
  margin-top: 1rem;
  height: 80%;
  width: 95%;
  justify-content: center;
  ul {
    width: 100%;
    max-height: 80vh;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-left: 0;
    border: 2px solid rgb(138, 138, 138);
    li:nth-child(odd) {
      background-color: rgb(199, 199, 199);
    }
    li {
      height: 2.5rem;

      justify-content: center;

      background-color: rgb(223, 223, 223);
      width: 100%;
      span {
        display: flex;
        align-items: center;
        padding: 0 1rem;
      }
      span:nth-child(1),
      span:nth-child(2) {
        width: 30%;
      }
      span:nth-child(3),
      span:nth-child(4) {
        width: 20%;
        justify-content: flex-end;
      }
    }
    li:hover {
      filter: brightness(0.8);
    }
    .selected {
      border: 2px solid rgb(82, 82, 82);
    }
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
